@font-face {
	font-family: "612klb__";
	src: url("../fonts/612klb__.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ACADC___";
	src: url("../fonts/ACADC___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "acquestscript";
	src: url("../fonts/acquestscript.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Adine Kirnberg";
	src: url("../fonts/Adine Kirnberg.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Adventure";
	src: url("../fonts/Adventure.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Agatha-Modern";
	src: url("../fonts/Agatha-Modern.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Alexandra Script";
	src: url("../fonts/Alexandra Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Alexandra Zeferino One";
	src: url("../fonts/Alexandra Zeferino One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Alexandra Zeferino Ornamental";
	src: url("../fonts/Alexandra Zeferino Ornamental.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Alexandra Zeferino Three";
	src: url("../fonts/Alexandra Zeferino Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Alexandra Zeferino Two";
	src: url("../fonts/Alexandra Zeferino Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Allegretto Script One";
	src: url("../fonts/Allegretto Script One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Allegretto Script Two";
	src: url("../fonts/Allegretto Script Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "amsterdam";
	src: url("../fonts/amsterdam.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "AnastasiaScript";
	src: url("../fonts/AnastasiaScript.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Andantino script";
	src: url("../fonts/Andantino script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Angelica";
	src: url("../fonts/Angelica.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Annabelle";
	src: url("../fonts/Annabelle.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "arab3end";
	src: url("../fonts/arab3end.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ARBAT-BO";
	src: url("../fonts/ARBAT-BO.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "ARCHVB";
	src: url("../fonts/ARCHVB.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "ARCHVN";
	src: url("../fonts/ARCHVN.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Ariadna script";
	src: url("../fonts/Ariadna script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ariston";
	src: url("../fonts/Ariston.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Arkhive";
	src: url("../fonts/Arkhive.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ArtScript";
	src: url("../fonts/ArtScript.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ARTSCRPT";
	src: url("../fonts/ARTSCRPT.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Asessor";
	src: url("../fonts/Asessor.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ASTRA";
	src: url("../fonts/ASTRA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Aurora script";
	src: url("../fonts/Aurora script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bankir-Retro";
	src: url("../fonts/Bankir-Retro.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bickham Script One";
	src: url("../fonts/Bickham Script One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bickham Script Three";
	src: url("../fonts/Bickham Script Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bickham Script Two";
	src: url("../fonts/Bickham Script Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bikham Cyr Script";
	src: url("../fonts/Bikham Cyr Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Bolero script";
	src: url("../fonts/Bolero script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Boyarsky Bold Italic";
	src: url("../fonts/Boyarsky Bold Italic.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "BTS35__C";
	src: url("../fonts/BTS35__C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "BTS55__C";
	src: url("../fonts/BTS55__C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "BTS75__C";
	src: url("../fonts/BTS75__C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Burlak";
	src: url("../fonts/Burlak.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "burlak_";
	src: url("../fonts/burlak_.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CALIGRAP";
	src: url("../fonts/CALIGRAP.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "calligra";
	src: url("../fonts/calligra.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Calligraph Regular";
	src: url("../fonts/Calligraph Regular.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Calligrapher";
	src: url("../fonts/Calligrapher.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Calligraphia One";
	src: url("../fonts/Calligraphia One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Calligraphia Two";
	src: url("../fonts/Calligraphia Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Cansellarist";
	src: url("../fonts/Cansellarist.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Carolina";
	src: url("../fonts/Carolina.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Cassandra";
	src: url("../fonts/Cassandra.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ceremonious One";
	src: url("../fonts/Ceremonious One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ceremonious Three";
	src: url("../fonts/Ceremonious Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ceremonious Two";
	src: url("../fonts/Ceremonious Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Champignon Script";
	src: url("../fonts/Champignon Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "China2";
	src: url("../fonts/China2.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CHOPIN";
	src: url("../fonts/CHOPIN.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Connetable";
	src: url("../fonts/Connetable.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Copyist";
	src: url("../fonts/Copyist.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Corinthia";
	src: url("../fonts/Corinthia.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Coronet";
	src: url("../fonts/Coronet.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CORRI15";
	src: url("../fonts/CORRI15.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Corrida Bold";
	src: url("../fonts/Corrida Bold.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Corrida Cyrillic";
	src: url("../fonts/Corrida Cyrillic.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CORRIDA1";
	src: url("../fonts/CORRIDA1.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "CYRBASH";
	src: url("../fonts/CYRBASH.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "CYRIBBON";
	src: url("../fonts/CYRIBBON.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "CyrillicChancellor";
	src: url("../fonts/CyrillicChancellor.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CyrillicRibbon";
	src: url("../fonts/CyrillicRibbon.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "CYRN____";
	src: url("../fonts/CYRN____.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "DCR____C";
	src: url("../fonts/DCR____C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "dearjoe";
	src: url("../fonts/dearjoe.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Decor Italic_cyr";
	src: url("../fonts/Decor Italic_cyr.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DECOR";
	src: url("../fonts/DECOR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "DECORB";
	src: url("../fonts/DECORB.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "decorlz_nm1";
	src: url("../fonts/decorlz_nm1.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Decor_cyr";
	src: url("../fonts/Decor_cyr.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DEMICP__";
	src: url("../fonts/DEMICP__.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "DisneyPark";
	src: url("../fonts/DisneyPark.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DOLLAR";
	src: url("../fonts/DOLLAR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "DOMCASL";
	src: url("../fonts/DOMCASL.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "DOMN";
	src: url("../fonts/DOMN.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "dotf1";
	src: url("../fonts/dotf1.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "dpark";
	src: url("../fonts/dpark.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DRPODR__";
	src: url("../fonts/DRPODR__.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "dr_po";
	src: url("../fonts/dr_po.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DS Note";
	src: url("../fonts/DS Note.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "DS Rabbit Medium";
	src: url("../fonts/DS Rabbit Medium.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "dsbb";
	src: url("../fonts/dsbb.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "dserase";
	src: url("../fonts/dserase.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "dseraser2";
	src: url("../fonts/dseraser2.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "dsnote";
	src: url("../fonts/dsnote.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Edisson";
	src: url("../fonts/Edisson.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ekaterina Velikaya One";
	src: url("../fonts/Ekaterina Velikaya One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ekaterina Velikaya Two";
	src: url("../fonts/Ekaterina Velikaya Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Elzevir";
	src: url("../fonts/Elzevir.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "English Script";
	src: url("../fonts/English Script.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "EPSILON";
	src: url("../fonts/EPSILON.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "EPSIL_C";
	src: url("../fonts/EPSIL_C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "epson1";
	src: url("../fonts/epson1.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Esenin script One";
	src: url("../fonts/Esenin script One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Esenin script Two";
	src: url("../fonts/Esenin script Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Favorit";
	src: url("../fonts/Favorit.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "FESTUS__";
	src: url("../fonts/FESTUS__.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "FLOWERS";
	src: url("../fonts/FLOWERS.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "floydc";
	src: url("../fonts/floydc.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "FREH";
	src: url("../fonts/FREH.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "FSS";
	src: url("../fonts/FSS.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Geisha";
	src: url("../fonts/Geisha.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Globus";
	src: url("../fonts/Globus.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Gloria";
	src: url("../fonts/Gloria.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "GRINYA";
	src: url("../fonts/GRINYA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "GRUNGE";
	src: url("../fonts/GRUNGE.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "HARDLIFE";
	src: url("../fonts/HARDLIFE.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Heading";
	src: url("../fonts/Heading.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Heather Script One";
	src: url("../fonts/Heather Script One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Heather Script Two";
	src: url("../fonts/Heather Script Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Heinrich Script";
	src: url("../fonts/Heinrich Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Heinrich Text";
	src: url("../fonts/Heinrich Text.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "hogarth script";
	src: url("../fonts/hogarth script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Hortensia";
	src: url("../fonts/Hortensia.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Hrom";
	src: url("../fonts/Hrom.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Imperial";
	src: url("../fonts/Imperial.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "INFORMB";
	src: url("../fonts/INFORMB.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "IRINA";
	src: url("../fonts/IRINA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Isabella-Decor";
	src: url("../fonts/Isabella-Decor.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Italiano";
	src: url("../fonts/Italiano.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "JIKHAREV";
	src: url("../fonts/JIKHAREV.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Jikharev0";
	src: url("../fonts/Jikharev0.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "JKB35";
	src: url("../fonts/JKB35.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "JKB55";
	src: url("../fonts/JKB55.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "JKB75";
	src: url("../fonts/JKB75.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "JKH";
	src: url("../fonts/JKH.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "JOKE____";
	src: url("../fonts/JOKE____.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KALIAKR";
	src: url("../fonts/KALIAKR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KALIAKRA";
	src: url("../fonts/KALIAKRA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Karmen";
	src: url("../fonts/Karmen.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Karnac One";
	src: url("../fonts/Karnac One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "keetano_gaijin";
	src: url("../fonts/keetano_gaijin.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "keetano_katakana";
	src: url("../fonts/keetano_katakana.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "KNYAZCYR";
	src: url("../fonts/KNYAZCYR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KOALAX3";
	src: url("../fonts/KOALAX3.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KREMLIN";
	src: url("../fonts/KREMLIN.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KremlinCTT";
	src: url("../fonts/KremlinCTT.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "KRUSH";
	src: url("../fonts/KRUSH.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "kuritza";
	src: url("../fonts/kuritza.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "KursivC";
	src: url("../fonts/KursivC.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "kxcsv";
	src: url("../fonts/kxcsv.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "lainyday";
	src: url("../fonts/lainyday.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Lazycr";
	src: url("../fonts/Lazycr.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lazyc___";
	src: url("../fonts/lazyc___.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lcbagira";
	src: url("../fonts/lcbagira.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lcblowzy_";
	src: url("../fonts/lcblowzy_.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lcbody2";
	src: url("../fonts/lcbody2.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Lcchalk_";
	src: url("../fonts/Lcchalk_.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lcconstr";
	src: url("../fonts/lcconstr.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "lcembroi";
	src: url("../fonts/lcembroi.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "lcfence";
	src: url("../fonts/lcfence.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "LehmannC";
	src: url("../fonts/LehmannC.otf");
	font-weight: normal;
}
@font-face {
	font-family: "Liana";
	src: url("../fonts/Liana.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "LirussTYGRA";
	src: url("../fonts/LirussTYGRA.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Logger";
	src: url("../fonts/Logger.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ludvig van Bethoveen";
	src: url("../fonts/Ludvig van Bethoveen.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Macarena";
	src: url("../fonts/Macarena.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "MACARONI";
	src: url("../fonts/MACARONI.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Madera TYGRA";
	src: url("../fonts/Madera TYGRA.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "madera";
	src: url("../fonts/madera.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Manuscript";
	src: url("../fonts/Manuscript.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Margarita script";
	src: url("../fonts/Margarita script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Margit1";
	src: url("../fonts/Margit1.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Marianna";
	src: url("../fonts/Marianna.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Markiz de Sad script";
	src: url("../fonts/Markiz de Sad script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "MARUSYA_";
	src: url("../fonts/MARUSYA_.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Medieval";
	src: url("../fonts/Medieval.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Menuet script";
	src: url("../fonts/Menuet script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "MINIDEMO";
	src: url("../fonts/MINIDEMO.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "MinusmanC";
	src: url("../fonts/MinusmanC.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Mistral";
	src: url("../fonts/Mistral.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Modernist Three";
	src: url("../fonts/Modernist Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Moderno One";
	src: url("../fonts/Moderno One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Moderno Three";
	src: url("../fonts/Moderno Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Moderno Two";
	src: url("../fonts/Moderno Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "MONOFONTO";
	src: url("../fonts/MONOFONTO.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Monte-Carlo";
	src: url("../fonts/Monte-Carlo.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Moonlight";
	src: url("../fonts/Moonlight.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Moonn___";
	src: url("../fonts/Moonn___.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "MTCORSVA";
	src: url("../fonts/MTCORSVA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "m_612Koshey Bold";
	src: url("../fonts/m_612Koshey Bold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Acadian";
	src: url("../fonts/m_Acadian.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Agit Prop Medium";
	src: url("../fonts/m_Agit Prop Medium.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Andes Normal";
	src: url("../fonts/m_Andes Normal.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Baveuse";
	src: url("../fonts/m_Baveuse.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Ben Krush";
	src: url("../fonts/m_Ben Krush.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Bolid";
	src: url("../fonts/m_Bolid.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Brody";
	src: url("../fonts/m_Brody.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "m_Macaroni";
	src: url("../fonts/m_Macaroni.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "nadeb___";
	src: url("../fonts/nadeb___.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Nadejb";
	src: url("../fonts/Nadejb.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "NBRUSHSC";
	src: url("../fonts/NBRUSHSC.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "nestor1";
	src: url("../fonts/nestor1.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "NEURM___";
	src: url("../fonts/NEURM___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Newlandk";
	src: url("../fonts/Newlandk.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Newlandn";
	src: url("../fonts/Newlandn.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "NINA_C";
	src: url("../fonts/NINA_C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Ocean__";
	src: url("../fonts/Ocean__.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Odessa Script Cyr Regular";
	src: url("../fonts/Odessa Script Cyr Regular.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OdessaScript";
	src: url("../fonts/OdessaScript.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OdessaScriptFWF Regular";
	src: url("../fonts/OdessaScriptFWF Regular.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ograda Normal";
	src: url("../fonts/Ograda Normal.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ograda";
	src: url("../fonts/ograda.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "OLGA_C";
	src: url("../fonts/OLGA_C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "orden";
	src: url("../fonts/orden.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ouverture script";
	src: url("../fonts/Ouverture script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ouverture_script";
	src: url("../fonts/Ouverture_script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "P22 Kilkenny Initial Cap";
	src: url("../fonts/P22 Kilkenny Initial Cap.otf");
	font-weight: normal;
}
@font-face {
	font-family: "P22 Kilkenny Pro";
	src: url("../fonts/P22 Kilkenny Pro.otf");
	font-weight: normal;
}
@font-face {
	font-family: "PALETTAV";
	src: url("../fonts/PALETTAV.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "PALETTE_";
	src: url("../fonts/PALETTE_.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Park Avenue Normal";
	src: url("../fonts/Park Avenue Normal.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "PARKA36";
	src: url("../fonts/PARKA36.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Parsek Cyrillic";
	src: url("../fonts/Parsek Cyrillic.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "PARSEK";
	src: url("../fonts/PARSEK.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Patience";
	src: url("../fonts/Patience.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "PECHKIN_";
	src: url("../fonts/PECHKIN_.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Pero";
	src: url("../fonts/Pero.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "pero_";
	src: url("../fonts/pero_.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "PG_IsadoraCyrPro-Regular";
	src: url("../fonts/PG_IsadoraCyrPro-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Pompadur";
	src: url("../fonts/Pompadur.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "PresentScript Cyrillic";
	src: url("../fonts/PresentScript Cyrillic.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Propisi";
	src: url("../fonts/Propisi.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "PRSCR";
	src: url("../fonts/PRSCR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "pushkin";
	src: url("../fonts/pushkin.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Redinger";
	src: url("../fonts/Redinger.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "REM";
	src: url("../fonts/REM.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Roland";
	src: url("../fonts/Roland.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "RomanaScript";
	src: url("../fonts/RomanaScript.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ROMVC___";
	src: url("../fonts/ROMVC___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Rosamunda One";
	src: url("../fonts/Rosamunda One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Rosamunda Two";
	src: url("../fonts/Rosamunda Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "RoscherkDL";
	src: url("../fonts/RoscherkDL.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Round Script";
	src: url("../fonts/Round Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Rubius";
	src: url("../fonts/Rubius.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "rublik";
	src: url("../fonts/rublik.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Rurintania";
	src: url("../fonts/Rurintania.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Saffron_Cyr";
	src: url("../fonts/Saffron_Cyr.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Saksonia";
	src: url("../fonts/Saksonia.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "SCRAWL";
	src: url("../fonts/SCRAWL.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Script Thin Pen";
	src: url("../fonts/Script Thin Pen.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Scriptorama";
	src: url("../fonts/Scriptorama.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "segoepr";
	src: url("../fonts/segoepr.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Sevilla Decor";
	src: url("../fonts/Sevilla Decor.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "SKIDOO";
	src: url("../fonts/SKIDOO.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "SSCR";
	src: url("../fonts/SSCR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "STAC_AV";
	src: url("../fonts/STAC_AV.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Still Time Cyr";
	src: url("../fonts/Still Time Cyr.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "STILLA";
	src: url("../fonts/STILLA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "stillt_cyr_d";
	src: url("../fonts/stillt_cyr_d.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "STONEHEN";
	src: url("../fonts/STONEHEN.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Stylo Bold";
	src: url("../fonts/Stylo Bold.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "stylo";
	src: url("../fonts/stylo.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Svoboda";
	src: url("../fonts/Svoboda.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "TAGIR";
	src: url("../fonts/TAGIR.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "TAGIR_C";
	src: url("../fonts/TAGIR_C.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "TECHD___";
	src: url("../fonts/TECHD___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "terminator_cyr_v4";
	src: url("../fonts/terminator_cyr_v4.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Ticker Tape";
	src: url("../fonts/Ticker Tape.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "TORHOITA";
	src: url("../fonts/TORHOITA.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Torhok Italic";
	src: url("../fonts/Torhok Italic.Ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Venecia";
	src: url("../fonts/Venecia.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Venski sad One";
	src: url("../fonts/Venski sad One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Venski Sad Two";
	src: url("../fonts/Venski Sad Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Verona Gothic";
	src: url("../fonts/Verona Gothic.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Vesna";
	src: url("../fonts/Vesna.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "VICTC___";
	src: url("../fonts/VICTC___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "vityaz";
	src: url("../fonts/vityaz.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "VivaldiD CL";
	src: url("../fonts/VivaldiD CL.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "VIVALDID";
	src: url("../fonts/VIVALDID.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Viza";
	src: url("../fonts/Viza.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "VLADOVSKIY";
	src: url("../fonts/VLADOVSKIY.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Washington";
	src: url("../fonts/Washington.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "whirlcyr2";
	src: url("../fonts/whirlcyr2.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "WILLS___";
	src: url("../fonts/WILLS___.TTF");
	font-weight: normal;
}
@font-face {
	font-family: "Wolfgang Amadeus Mozart";
	src: url("../fonts/Wolfgang Amadeus Mozart.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Wooden Ship Decorated";
	src: url("../fonts/Wooden Ship Decorated.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Xorx_Toothy";
	src: url("../fonts/Xorx_Toothy.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Xorx_Windy2";
	src: url("../fonts/Xorx_Windy2.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Young Love ES";
	src: url("../fonts/Young Love ES.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Zanerian Two";
	src: url("../fonts/Zanerian Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Alternate";
	src: url("../fonts/ZapfinoExtraLT-Alternate.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Four";
	src: url("../fonts/ZapfinoExtraLT-Four.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Ligatures";
	src: url("../fonts/ZapfinoExtraLT-Ligatures.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-One";
	src: url("../fonts/ZapfinoExtraLT-One.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Ornaments";
	src: url("../fonts/ZapfinoExtraLT-Ornaments.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-SmallCaps";
	src: url("../fonts/ZapfinoExtraLT-SmallCaps.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Three";
	src: url("../fonts/ZapfinoExtraLT-Three.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLT-Two";
	src: url("../fonts/ZapfinoExtraLT-Two.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoExtraLTPro";
	src: url("../fonts/ZapfinoExtraLTPro.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoForteLT-Alternate";
	src: url("../fonts/ZapfinoForteLT-Alternate.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoForteLT-One";
	src: url("../fonts/ZapfinoForteLT-One.otf");
	font-weight: normal;
}
@font-face {
	font-family: "ZapfinoForteLTPro";
	src: url("../fonts/ZapfinoForteLTPro.otf");
	font-weight: normal;
}
@font-face {
	font-family: "Zeferino One";
	src: url("../fonts/Zeferino One.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Zeferino Three";
	src: url("../fonts/Zeferino Three.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Zeferino Two";
	src: url("../fonts/Zeferino Two.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "zippc___";
	src: url("../fonts/zippc___.ttf");
	font-weight: normal;
}
