@font-face {
	font-family: "Discipuli Britannica";
	src: url("../fonts2/Discipuli Britannica.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Five Minutes";
	src: url("../fonts2/Five Minutes.otf");
	font-weight: normal;
}
@font-face {
	font-family: "Teddy_Bear";
	src: url("../fonts2/Teddy_Bear.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Xiomara-Script";
	src: url("../fonts2/Xiomara-Script.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "zhizn_regular";
	src: url("../fonts2/zhizn_regular.otf");
	font-weight: normal;
}
