body {
	font-family: 'PT Serif', Helvetica, Arial, serif;
}

h1 {
	font-size: 2.5em;
	font-family: 'acquestscript';
	line-height: 1.4;
	padding: 1.5em 0;
	text-align: center;
}


a {
	font-size: 1em;
	line-height: 1;
	color: #000;
	text-decoration: none;
}

.page-header {
	padding: 1em;
	background: url(../images/sicilia.svg) no-repeat;
	background-size: 200px 200px;
	background-position: 50% -20px;
}

.page-navigation {
	font: 2em Neucha, Arial, Helvetica;
	display: flex;
	justify-content: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.page-navigation a {
	display: block;
	padding: 10px 30px;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

.banner {
	padding-top: 60%;
	position: relative;
	background: url(../images/RuderidiPoggioreale.jpg);
	background-size: cover;
}

.prev, .next {
	background: url(../images/arrow.svg);
	background-size: contain;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10px;
	cursor: pointer;
}

.prev {
	transform: rotateY(180deg);
	right: 50%;
}

.next {
	left: 50%;
}

.copyright {
	position: absolute;
	bottom: 10px;
	left: 50%;
	color: #fff;
	transform: translate3d(-50%, 0, 0);
}