/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
    display: block;
}

body  {
    line-height: 1;
}

ol, ul  {
    list-style: none;
}

blockquote, q  {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after  {
    content: '';
    content: none;
}

table  {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6  {
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
}
h1  {
    font-size: 3em;
}
h2  {
    font-size: 2.5em;
}
h3  {
    font-size: 2.1em;
}
h4  {
    font-size: 1.9em;
}
h5  {
    font-size: 1.8em;
}
h6  {
    font-size: 1.6em;
}
a  {
    color: #d6575b;
}
a  {
    text-decoration: none;
    transition: all 0.25s linear;
}
.article a  {
    border-bottom: 1px solid #d6575b;
}
.article a:hover  {
    color: #34495e;
    border-bottom: 1px solid #34495e;
}
p  {
    color: #737171;
    margin: 1em 0 1.5em 0;
    font-family: 'RobotoSlabRegular',serif;
    line-height: 1.6;
}
strong  {
    font-family: 'RobotoSlabBold',serif;
}
i, em  {
    font-style: italic;
}
ul, ol  {
    display: block;
    list-style-type: disc;
    padding-left: 40px;/*font-family: $menu-font;*/
    margin: 1em 0 1.5em 0;
}
ul strong, ol strong  {/*font-family: $menu-font;*//*font-size: 1em;*/
    font-weight: bold;
}
ol  {
    list-style-type: decimal;
}
.article li  {
    margin: 0.5em 0 0.5em 0;/*font-size: 1.6em;*/
}
blockquote  {
    border-left: 1px solid #d6575b;
    padding-left: 1em;
}
blockquote strong  {
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
}
blockquote p  {
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
    line-height: 1.2;
    font-size: 2em;
    margin: 1em 0;
}
table  {
    max-width: 100%;
    margin: 1em 0 1.5em 0;
}
table th, table td  {
    padding: 15px;
    border: 1px solid #737171;
}

@font-face  {
    font-family: 'Stalemate';
    src: url(../fonts/Stalemate.woff2) format('woff2'),
          url(../fonts/Stalemate.woff) format('woff'),
          url(../fonts/Stalemate.ttf) format('truetype');
    font-weight: normal;
}

@font-face  {
    font-family: 'Five Minutes';
    src: url(../fonts/FiveMinutes.woff2) format('woff2'),
          url(../fonts/FiveMinutes.woff) format('woff'),
          url(../fonts/FiveMinutes.ttf) format('truetype');
    font-weight: normal;
}

@font-face  {
    font-family: 'RobotoSlabRegular';
    src: url(../fonts/RobotoSlabRegular.woff) format('woff'),
          url(../fonts/RobotoSlabRegular.ttf) format('truetype');
    font-weight: normal;
}

@font-face  {
    font-family: 'RobotoSlabBold';
    src: url(../fonts/RobotoSlabBold.woff) format('woff'),
          url(../fonts/RobotoSlabBold.ttf) format('truetype');
    font-weight: normal;
}

body {
  font-size: 16px;
  font-family: 'RobotoSlabRegular',serif;
  color: #737171;
}

.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.page-header {
  padding: 2.5em 0 30px;
}
.logo {
}
.logo__name  {
    font: Arial,Helvetica,sans-serif;
    color: #000;
    font-size: 5em;
    line-height: 2;
    text-align: center;
}
.fonts-loaded .logo__name  {
    font-family: 'Stalemate',Arial,Helvetica,sans-serif;
    font-size: 8.5em;
    line-height: 1.2;
}

.page-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: 0.5em 0
}

.page-nav__menu  {
    padding: 0 1.5em;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.page-nav__soc  {
    padding: 0 1.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0
}
.main-menu__item  {
    position: relative;
    margin: 0;
    padding: 0;
}
.main-menu__link  {
    font-size: 2em;
    text-transform: lowercase;
    font-family: Arial,Helvetica,sans-serif;
    color: #000;
}
.fonts-loaded .main-menu__link  {
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
}
.main-menu__link:hover path  {
    visibility: visible;
    -webkit-animation: dash 0.2s linear forwards;
    animation: dash 0.2s linear forwards;
}
.main-menu__active  {
    color: #d6575b;
}
.main-menu__active .main-menu__line  {
    visibility: hidden;
}
.main-menu__line  {
    position: absolute;
    bottom: -2px;
    left: 0;
}
.main-menu__line path  {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    visibility: hidden;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.social-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0
}
.social-menu__item  {
    margin: 0 0.15em;
}

.icon {
  display: block;
  text-indent: -9999px;
  width: 2em;
  height: 2em
}

.icon.facebook  {
    background: url(../svg/facebook.svg);
    background-size: 2em;
}

.icon.flickr  {
    background: url(../svg/flickr.svg);
    background-size: 2em;
}

.icon.instagram  {
    background: url(../svg/instagram.svg);
    background-size: 2em;
}

.icon.rss  {
    background: url(../svg/rss.svg);
    background-size: 2em;
}

.icon.search  {
    background: url(../svg/search.svg);
    background-size: 2em;
}

.about-site {
  padding-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #eee
}

.about-site__banner  {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 0 24px;
    border-left: 2px solid #eee;
}

.about-site__sidebar  {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px 24px 0;
}

.banner {
}

.banner__img  {
    width: 100%;
    border-radius: 2px;
}

.about-me {
}

.about-me__title  {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
    text-transform: lowercase;
}

.about-me__text  {
    font: 1.05em/1.3 'RobotoSlabRegular',serif;
    font-size: 0.9em;
}

.about-me__photo  {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 1em;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.posts-sec {
  padding-top: 10px
  }

.posts-sec__title-wrap  {
    height: 70px;
    margin: 2em auto;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.posts-sec__title  {
    margin: auto;
    font-size: 2em;
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
    color: #000;
}

.posts-sec__title-wrap svg  {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.posts-sec__posts-list  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.post-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 2px solid #eee;
  padding: 0 24px
}

.post-wrap:first-of-type  {
    border-left: 2px solid #eee;
}
.post {
}
.post__img:hover  {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.post__wrap-img  {
    overflow: hidden;
}
.post__img  {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 100%;
    opacity: 0.8;
    margin: 0 auto;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post__title, .post__pub  {
    text-align: center;
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
    color: #000;
}
.post__title  {
    margin-top: 0.5em;
    font-size: 2em;
    text-transform: lowercase;
}
.post__title a  {
    color: #000;
}
.post__title :hover  {
    color: #d6575b;
}
.post__pub  {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
    font-size: 1.5em;
    text-transform: lowercase;
}
.inner-page {
  border-right: 2px solid #eee;
  border-left: 2px solid #eee
}
.inner-page__wrap-title  {
    padding: 2em 0;
}
.inner-page__wrap-post  {
    padding: 2em 0;
    margin: 0 auto;
    border-bottom: 1px dotted #CCC;
    width: 500px;
}
.inner-page__wrap-post:last-child  {
    border-bottom: 0;
}
.title-h {
  font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
  color: #d6575b;
  font-size: 3em;
  text-align: center
}
.title-h:before, .title-h:after  {
    content: '— ';
    display: inline-block;
}
.title-h:before  {
    padding-right: 0.4em;
}
.title-h:after  {
    padding-left: 0.4em;
}
.post-list {
  text-align: center;
  font-family: 'Five Minutes',Arial,Helvetica,sans-serif
}
.post-list__title  {
    font-size: 2.5em;
    padding-bottom: 0.4em;
}
.post-list__link  {
    color: #000;
}
.post-list__link:hover  {
    color: #d6575b;
}
.post-list__pub  {
    display: inline-block;
    font-size: 1.5em;
    color: #000;
    padding-bottom: 0.6em;
}
.post-list__img  {
    width: 100%;
}

.article {
  padding: 0 5%;
}

.article img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.article__wrap-title  {
    text-align: center;
    padding: 2em 0 1em;
    color: #d6575b;
}

.article__meta  {
    text-align: center;
}

.article__pub  {
    display: inline-block;
    font-size: 1.5em;
    color: #000;
    font-family: 'Five Minutes',Arial,Helvetica,sans-serif;
}

.article__meta  {
    padding-bottom: 2em;
}


.page-footer {
  border-top: 2px solid #dadada;
  padding: 2em 0;
  margin-top: 40px;
}
.copyright {
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}
