<header class="page-header">
	<div class="logo">
		<h1>Malavita in Sicilia</h1>
	</div>
	<nav class="page-navigation">
		<ul class="top-menu">
			<li>
				<a href="/">Главная
					<svg height="10" width="100%">
					  <path d="M0 10 L200 0" stroke="black" stroke-width="2" fill="none" />
					</svg>
				</a>
			</li>
			<li><a href="#">Экскурсии</a></li>
			<li><a href="/blog.html">Блог</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<ul class="social-menu">
			<li><a href="#" class="icon facebook"></a></li>
			<li><a href="#" class="icon flickr"></a></li>
			<li><a href="#" class="icon instagram"></a></li>
			<li><a href="#" class="icon rss"></a></li>
			<li><a href="#" class="icon search"></a></li>
		</ul>
	</nav>
</header>