<header class="page-header">
	<div class="logo">
		<h1 class="logo__name">Malavita in Sicilia</h1>
	</div>
	<nav class="page-nav">
		
		<div class="page-nav__menu">
			<ul class="main-menu">
				<li class="main-menu__item">
					<a class="main-menu__link main-menu__active" href="/">Главная
						<svg class="main-menu__line" height="10" width="100%">
						  <path d="M5 10 L200 0" stroke="#000" stroke-width="2" fill="none" />
						</svg>
					</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link" href="#">Экскурсии
						<svg class="main-menu__line" height="10" width="100%">
						  <path d="M5 10 L200 0" stroke="#000" stroke-width="2" fill="none" />
						</svg>
					</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link" href="/blog.html">Блог
						<svg class="main-menu__line" height="10" width="100%">
							<path d="M5 10 L200 0" stroke="#000" stroke-width="2" fill="none" />
						</svg>
					</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link" href="#">Отзывы
						<svg class="main-menu__line" height="10" width="100%">
							<path d="M5 10 L200 0" stroke="#000" stroke-width="2" fill="none" />
						</svg>
					</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link" href="#">Контакты
						<svg class="main-menu__line" height="10" width="100%">
								<path d="M5 10 L200 0" stroke="#000" stroke-width="2" fill="none" />
						</svg>
					</a>
				</li>
			</ul>
		</div>

		<div class="page-nav__soc">		
			<ul class="social-menu">
				<li class="social-menu__item"><a class="icon facebook" href="#"></a></li>
				<li class="social-menu__item"><a class="icon flickr" href="#"></a></li>
				<li class="social-menu__item"><a class="icon instagram" href="#"></a></li>
				<li class="social-menu__item"><a class="icon rss" href="#"></a></li>
				<li class="social-menu__item"><a class="icon search" href="#"></a></li>
			</ul>
		</div>
	</nav>
</header>