@font-face {
	font-family: "Five Minutes";
	src: url("../../fonts/Five Minutes.otf");
	font-weight: normal;
}

h1 {
	font: 6.5em/1.2 'Stalemate', Arial, Helvetica, sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.page-header {
	padding: 2em 0 0;
}

.page-navigation {
	display: flex;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 0.5em 0;
}

.top-menu {
	display: flex;
	justify-content: space-around;
	padding: 0 1.5em;
	flex: 3;
}

.top-menu a {
	font-size: 2em;
	text-transform: lowercase;
	font-family: 'Five Minutes' Arial, Helvetica, sans-serif;
}

.social-menu {
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 0 1.5em;
}

.social-menu li {
	margin: 0 0.15em;
}

.page-content {
	padding: 1em 0;
	display: flex;
}

.banner {
	flex: 3;
	padding: 0 1.5em;
	border-left: 2px solid #eee;
}

.banner img {
	width: 100%;
	border-radius: 2px;
}

.page-sidebar {
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
	flex: 1;
	padding: 1em 1.5em 0 1.5em;
}

.page-sidebar h2 {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	font-family: 'Five Minutes' Arial, Helvetica, sans-serif;
	text-transform: lowercase;
}

.page-sidebar p {
	font-size: 1.2em;
}

.page-sidebar img {
	width: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 1em;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.icon {
	display: block;
	text-indent: -9999px;
	width: 2em;
	height: 2em;
}

.icon.facebook {
	background: url(../images/facebook.svg);
	background-size: 2em;
}

.icon.flickr {
	background: url(../images/flickr.svg);
	background-size: 2em;
}

.icon.instagram {
	background: url(../images/instagram.svg);
	background-size: 2em;
}

.icon.rss {
	background: url(../images/rss.svg);
	background-size: 2em;
}

.icon.search {
	background: url(../images/search.svg);
	background-size: 2em;
}

.posts-list {
	border-top: 2px solid #eee;
	padding-top: 1em;
	display: flex;
	flex-flow: row wrap;
}

.posts-list li:first-of-type img {
	border-left: none;
}

.posts-list li {
	flex: 1;
}

.posts-list img {
	display: block;
	box-sizing: border-box;
	border-left: 2px solid #eee;
	padding: 0 .5em;
	width: 100%;
}

.posts-list h2, .posts-list h3 {
	text-align: center;
	font-family: 'Five Minutes' Arial, Helvetica, sans-serif;
}

.posts-list h2 {
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 1em;
}

.posts-list h3 {
	font-size: 1.5em;
	text-transform: lowercase;
	margin-bottom: 1em;
}

.page-footer {
	border-top: 2px solid #eee;
	height: 100px;
	/*background-color: #ddd;*/
	margin-top: 1em;
}

.page-navigation li {
	position: relative;
}

.page-navigation svg {
	position: absolute;
	bottom: -2px;
	left: 0;
}

.page-navigation path {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

.page-navigation a:hover path {
	-webkit-animation: dash 0.2s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}