@font-face {
	font-family: "Five Minutes";
	src: url("../../fonts/Five Minutes.otf");
	font-weight: normal;
}

h1 {
	font: 6.5em/1.2 'Stalemate', Arial, Helvetica, sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.page-header {
	padding: 2em 3em 1em;
}

.page-navigation {
	display: flex;
	justify-content: space-around;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 0.5em 0;
}

.page-navigation a {
	font-size: 2em;
	font-family: 'Five Minutes' Arial, Helvetica, sans-serif;
}

.page-content {
	padding: 0 3em;
	display: flex;
}

.banner {
	flex: 3;
	padding-right: 1.5em;
}

.banner img {
	width: 100%;
	border-radius: 2px;
}

.page-sidebar {
	border-left: 2px solid #eee;
	flex: 1;
	padding: 1em 0 0 1.5em;
}

.page-sidebar h2 {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	font-family: 'Five Minutes' Arial, Helvetica, sans-serif;
}

.page-sidebar p {
	font-size: 1.2em;
}

.page-sidebar img {
	width: 90%;
	border-radius: 50%;
}