---
layout: default
---
<main class="page-content">
  <div class="inner-page">
    <article class="article">
      <div class="article__wrap-title">
        <h1 class="title-h">{{ page.title }}</h1>
      </div>
      <div class="article__content">
        <div class="article__meta">
          <time class="article__pub">{% include {{ site.filters.date }} date=page.date | escape | strip_newlines %}</time>
        </div>

        <div class="article-text">
          {{ content }}
        </div>

      </div>
    </article>
  </div>
</main>
